.projects{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  margin: 0 1rem;
  overflow: hidden;
}
.projects__container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 4.5rem;
  gap: 1.9rem;
}
.projects__title{
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  color: var(--title-color);
}

.item{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  flex: 0 0 auto;
  cursor: pointer;
}

.carousel{
  display: flex;
  overflow: hidden;
  width: 75%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 767px){
    .projects{
        margin: 0;
        height: auto;
    }

    .carousel{
      width: 100%;
      gap: .5rem;
    }

    .projects__container{
      padding-top: .8rem;
      gap: .6rem;
    }

    .item{
      min-width: 200px;
      flex: 1 1 200px;
    }
}

@media only screen and (max-width: 959px){
    .projects{
        margin: 0 .2rem;
    }

    .carousel{
      width: 100%;
      overflow-y: auto;
      gap: .6rem;
      align-items: flex-start;
    }

    .projects__container{
      padding-top: 1rem;
    }

    .item{
      min-width: 250px;
      flex: 1 1 250px;
    }

}